html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map-canvas {
	height: calc(100% - 50px);
}

#ui-bar {
	background: #5580DC;
	color:white;
	font-family: 'Oswald', Arial;
	position: relative;
	height:50px;
}

#ui-bar h1 {
	margin:0;
	padding:0 10px;
	font-weight: normal;
}

#score-display {
	position: absolute;
	top:0;
	right:0;
}

.modal {
	
}