html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', Arial;
}

#map-canvas {
	height: calc(100% - 50px);
}

#ui-bar {
	background: #5580DC;
	color:white;
	position: relative;
	height:50px;
}

#ui-bar h1 {
	margin:0;
	padding:0 10px;
	font-weight: normal;
}

#score-backdrop {
	position: absolute;
	top:0;
	right:0;
	background: #333;
	padding: 0 10px 0 20px;
}

#score-display {
	display: block;
}

a.actionbutton {
	display: block;
	width:200px;
	color:white;
	background: #5580DC;
	text-decoration: none;
	margin:10px auto;
	padding:10px;
	text-align: center;
	cursor:pointer;
	text-transform: uppercase;
}

#loading-modal {
	text-align: center;
}

.modal h3 {
	text-transform: uppercase;
}